<%= form_with(model: empresa, local: true) do |form| %>
  <% if empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(empresa.errors.count, "error") %> prohibited this empresa from being saved:</h2>

      <ul>
      <% empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :empresa_name %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :empresa_content %>
  </div>

  <div class="field">
    <%= form.label :nreclamos %>
    <%= form.number_field :nreclamos, id: :empresa_nreclamos %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
