<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @empresa.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @empresa.content %>
</p>

<p>
  <strong>Nreclamos:</strong>
  <%= @empresa.nreclamos %>
</p>

<%= link_to 'Edit', edit_empresa_path(@empresa) %> |
<%= link_to 'Back', empresas_path %>
